<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>standard-catalogue</title>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://vuejs.org/js/vue.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">

<div id="app">
  <table v-if="items.length > 0">
    <thead>
      <tr>
        <th colspan="4">({{ this.items.length }}/{{ this.total }})</th>
        <th @click="sortByAuthor">Author</th>
        <th @click="sortByTitle">Title</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of items">
        <td><a :href="item.epub">epub<a></td>
        <td><a :href="item.azw3">azw3<a></td>
        <td><a :href="item.kepub">kepub<a></td>
        <td><a :href="item.epub3">epub3<a></td>
        <td>{{ item.author }}</td>
        <td>{{ item.title }}</td>
      </tr>
    </tbody>
  </table>
  <span v-else>Loading...</span>
</div>

<script type="text/javascript" src="app.js"></script>

