body {
  font-family: arial;
}

table {
  border-spacing: 0;
}

thead tr {
  background-color: #c0c0c0;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #c6deff;
}

th, td {
  padding: 5px;
}

td {
  border-top: 1px solid black;
}
