:root {
  --nav-height: 44px;
  --major-font-color: #456;
}

body {
  color: var(--major-font-color);
  margin: 0;
  overflow: scroll;
  font-family: monospace;
}

a {
  color: #1a0dab;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body.freezed {
  overflow: hidden;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-height);
  color: var(--major-font-color);
  background-color: #efefee;
  z-index: 1;
}

#nav > span {
  position: absolute;
  top: 50%;
  margin: 0 16px;
  transform: translateY(-50%);
}

#nav__menu {
  font-size: 32px;
  padding-bottom: 1px;
  cursor: pointer;
}

#nav__offset {
  height: var(--nav-height);
}

#menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#menu.navigating {
  display: block;
}

#menu__background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#menu__options {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  max-width: 20em;
  margin: 0;
  padding: 0;
  background-color: white;
  list-style-type: none;
}

.separator {
  color: #123;
}

#menu__options > li {
  margin: 1em;
}

#sort__options {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sort__options > li.selected {
  color: var(--major-font-color);
}

#sort__options > li {
  margin: 0.6em 1em;
  color: lightgrey;
}

#listing {
  margin: 0 auto;
  max-width: 40em;
}

.item {
  margin: 0 0.5em;
  padding: 0.5em;
  border-bottom: 1.6px solid #789;
}

.item:last-child {
  border: 0;
}

.item__title {
  font-size: 1.5em;
  font-weight: bold;
  max-width: 90%;
}

.item__author {
  font-size: 1.3em;
  margin-bottom: 0.2em;
}

.item__links {
  text-align: right;
}

.link {
  display: inline;
  margin: 0 3px;
}

.star {
  display: inline;
  float: right;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  font-size: 1.5em;
  color: grey;
  cursor: pointer;
  border-radius: 999px;
}

.star span {
  vertical-align: middle;
}

.star span.starred {
  color: gold;
}

#loading {
  margin: 1em;
  font-size: 1em;
  text-align: center;
}
